.userList {
  box-sizing: border-box;
  padding: 25px;
  margin-right: 50px;
  width: 180px;
  height: 600px;
  position: absolute;
  top: 50px;
  right: 0;
  text-align: right;
  border: 5px solid dodgerblue;
  overflow-y: scroll;
}

.chatTools {
  padding: 20px;
  height: 600px;
  width: 400px;
  box-sizing: border-box;
  border: 5px solid dodgerblue;
  margin-left: 50px;
  margin-top: 50px;
}

.chatTable {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(85%, 50px);
  box-sizing: border-box;
  padding: 25px;
  text-align: left;
  width: 600px;
  height: 600px;
  background: white;
  border: 5px solid dodgerblue;
  overflow-y: scroll;
}

.message {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 10px;
  height: 50px;
}

.message__username {
  margin-right: 15px;
}

.appInfo {
  margin-top: 10px;
  height: 200px;
  width: 350px;
  font-size: 15px;
  overflow-y: scroll;
}

.usernameTaken {
  color: red;
}
